<!DOCTYPE HTML>
<html>

<head>
    <style>
        h1 {
            background-color: purple;
            color: white;
        }

        h2 {
            color: red;
        }
    </style>
    <p>
    <h1>
        <center>Chronic Kidney Disease</center>
        <center>A Machine Learning App build with Flask</center>
    </h1>
    </p>
    <title>Kidney disease detection</title>
</head>
<br>

<body>
    <center>
        <h1>{{prediction_text}}</h1>
        <img src="static/kidney-disease-froedtert-today-1200x628.jpeg">
    </center>
</body>
</html>